

html {
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.page-visit {
	/*HEADER*/
	header {
	  height: 143px;
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  position: relative;
	}

	#header-top {
		width: 100%;
		height: 39px;
		background-color:  rgba(52, 46, 55, 0.8);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}

	#header-top .header-ul {
		align-items: center;
		display: flex;
		flex-direction: row;
		position: relative;
		width: 1155px;
		justify-content: center;
		margin-left: 8%;
	}

	#header-bottom .header-ul {
		align-items: center;
		display: flex;
		flex-direction: row;
		position: relative;
		width: 1160px;
		justify-content: flex-start;
	}

	header a {
		text-decoration: none;
		font-family: 'Roboto';
		color:  #fafffd;
		font-size: 16px;
		font-weight: 300;
		text-align: left;
		cursor: pointer;
	}

	header a:hover {
		color: #88b04b;
	}

	.border {
		border-right: 1px solid #ffffff;
		margin: 0 15px 0 15px;
	}

	#header-bottom {
		width: 100%;
		height: 104px;
		background-color:  rgba(134, 187, 216, 0.7);
		box-shadow: 1px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	#square {
		height: 104px;
		width: 110px;
		background-color:  rgba(52, 46, 55, 0.7);
		box-shadow: 1px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
		display: flex;
		justify-content: center;
	}

	#square:hover {
		opacity: 1;
		-webkit-box-shadow: 0px 0px 20px rgba(52, 46, 55,0.8);
	}

	#logo-dp {
		align-self: center;
	}

	.header-navitem {
		margin: 0 13px 0 13px;
		font-family: PlayfairDisplay;
		font-size: 20px;
		font-weight: 900;
		text-transform: uppercase;
	}

	.green-btn {
		border-radius: 5px;
		background-color:  #88b04b;
		box-shadow: 1px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
		width: auto;
		height: 40px;
		border: none;
		padding: 0 40px 0 40px;
		box-sizing: border-box;
		font-family: 'Roboto';
		color:  #ffffff;
		font-size: 16px;
		font-weight: 900;
		text-align: left;
		text-transform: uppercase;
		cursor: pointer;
		letter-spacing: 0.025em;
		outline: none;
	}

	#help-dp {
		margin: 0 54px 0 67px;
	}

	#header-denysenko {
		font-family: Roboto;
		font-size: 20px;
		font-weight: lighter;
		font-style: italic;
		color: #fafffd;
		text-align: right;
		display: flex;
	}

	/*SEARCH-BOX*/
	.box {
	  width: 200px;
	  height: 39px;
	}

	.container-2 {
	  width: 100%;
	  vertical-align: middle;
	  white-space: nowrap;
	  position: relative;
	}

	.container-2 input#search {
	  width: 45px;
	  height: 39px;
	  background-color:  rgba(52, 46, 55, 0.4);
	  border: none;
	  float: left;
	  padding-left: 35px;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	  font-family: 'Roboto';
		color: #fafffd;
		font-size: 16px;
		font-weight: 300;
		line-height: 42px;
		text-align: left;
	 
	  -webkit-transition: width .55s ease;
	  -moz-transition: width .55s ease;
	  -ms-transition: width .55s ease;
	  -o-transition: width .55s ease;
	  transition: width .55s ease;
	}

	.container-2 input#search::-webkit-input-placeholder {
		color: #fafffd;
	}

	.container-2 .icon {
	  position: absolute;
	  margin-left: 14px;
	  margin-top: 12px;
	  z-index: 1;
		color: #fafffd;
	}

	.container-2 input#search:focus, .container-2 input#search:active {
	  outline: none;
	  width: 100%;
		padding-right: 12px;
	}
	 
	.container-2:hover input#search {
		width: 100%;
	}
	/*SEARCH-BOX END*/
	/*HEADER END*/


	/*ВІДВІДАТИ*/
	#visit {
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  position: relative;
	}
	/*BREADCRUMBS*/
	.breadcrumbs {
		width: 1155px;
		display: flex;
		margin-top: 52px;
		position: absolute;
		font-family: 'Roboto';
		color:  #333333;
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		text-align: right;
	}
	ul.breadcrumb {
	  padding: 10px;
	  list-style: none;
	}
	ul.breadcrumb li {display: inline;}

	ul.breadcrumb li+li:before {
	  padding: 8px;
	  content: "/\00a0";
	}
	ul.breadcrumb li a {
	  text-decoration: underline;
		color: #333333;
	}
	ul.breadcrumb li a:visited {
		color: #333333;
	}
	ul.breadcrumb li a:hover {
	  color: #88b04b;
	}
	/*BREADCRUMBS-END*/

	.caption-logo5 {
		margin: 122px 0 32px 0;
		display: flex;
		width: 100%;
		height: 66px;
		justify-content: center;
	}

	.logo-with-text5{
	  position: relative;
	  width: 278px;
	  height: 66px;
	}

	.text-with-logo5 {
		position: absolute;
		font-family: Kalyna;
		font-size: 42px;
		font-weight: 400;
		top: 140px;
		color:  #333333;
	}

	.visit-wrapper {
		display: flex;
		flex-direction: column;
		width: 950px;
		align-items: center;
		margin-bottom: 255px;
	}

	.visit-img {
		display: flex;
		max-width: 100%;
		margin-bottom: 40px;
	}

	.visit-wrapper p, li {
		font-family: 'Roboto';
		color:  #333333;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		text-align: left;
	}

	.visit-wrapper span {
		margin-right: 25px;
	}


	/*ВІДВІДАТИ END*/


	/*МЕНЕ ЦІКАВЛЯТЬ ПОРОГИ*/
	#contact-mail {
	  height: 416px;
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  background-image: url(../images/contact-mail-background.png);
	  background-size: 100% 100%;
	  background-position: center;
	  background-repeat: no-repeat;
	  align-items: center;
	  position: relative;
	}

	.caption-logo-white2 {
		margin: 58px 0 39px 0;
		display: flex;
		width: 100%;
		height: 66px;
		justify-content: center;
	}

	.logo-with-text-white2{
	  position: relative;
	  width: 278px;
	  height: 66px;
	}

	.text-with-logo-white2 {
		position: absolute;
		font-family: 'Kalyna';
		font-size: 42px;
		font-weight: 400;
		top: 76px;
		color: #ffffff;
	}

	#contact-p {
		font-family: Roboto;
		color:  #ffffff;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		text-align: center;
		margin: 48px 0 34px 0;
	}

	form {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#email {
		border-radius: 5px;
		background-color:  rgba(250, 255, 253, 0.5);
		width: 360px;
		height: 38px;
		border: none;
	}

	input {
		padding-left: 16px;
		box-sizing: border-box;
	}

	input::placeholder {
		font-family: 'Roboto';
		color:  #666666;
		font-size: 16px;
		font-weight: 300;
		line-height: 100px;
		text-align: left;
	}

	input:focus{
	  outline: none;
	}

	#subscribe-btn {
		margin-left: 30px;
		outline: none;
	}
	/*МЕНЕ ЦІКАВЛЯТЬ ПОРОГИ END*/


	/*FOOTER*/
	footer {
	  height: 338px;
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  background-color: #342e37;
	  align-items: center;
	  position: relative;
	}

	#footer-top {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		height: 286px;
		width: 100%;
		margin: 60px;
	}

	#footer-bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 52px;
		width: 100%;
		background-color:  #333333;
		align-self: flex-end;
		font-family: 'Roboto';
		color:  #ffffff;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
	}

	.footer-h3 {
		font-family: 'Kalyna';
		color:  #fafffd;
		font-size: 20px;
		font-weight: 400;
		text-align: left;
		margin-bottom: 26px;
	}

		footer a {
		font-family: 'Roboto';
		color:  #fafffd;
		font-size: 16px;
		font-weight: 300;
		line-height: 26px;
		text-decoration: none;
	}

		footer a:hover {
		color: #88b04b;
		text-decoration: underline;
	}

	#contacts {
		width: 250px;
		margin-left: 57px;
		font-family: 'Roboto';
		color:  #fafffd;
		font-size: 16px;
		font-weight: 300;
		line-height: 26px;
		text-align: left;
	}

	#contacts p {
		font-family: 'Roboto';
		color:  #fafffd;
		font-size: 16px;
		font-weight: 300;
		line-height: 26px;
		text-align: left;
	}

	#footer-logo {
		margin-right: 96px;
	}

	#facebook {
		margin-left: 61px;
	}

	.bold {
		font-weight: 500;
	}

	.coordinators {
		width: 120px;
	  display: inline-block;
	}

	.tel {
		width: 88px;
	  display: inline-block;
	}

	.right1 {
		margin-left: 117px;
	}

	.right2 {
		margin-left: 83px;
	}

	#footer-h3-middle {
		margin-left: 87px;
	}
	/*FOOTER END*/
}