
@font-face {
    font-family: 'Kalyna';
    src: url('../fonts/kalyna/kalyna.otf');
}

@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/Roboto/Roboto-Black-webfont.eot');
    src: url('../fonts/Roboto/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-Black-webfont.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Black-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/Roboto/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/Roboto/Roboto-LightItalic-webfont.eot');
    src: url('../fonts/Roboto/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-LightItalic-webfont.woff') format('woff'),
         url('../fonts/Roboto/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/Roboto/Roboto-Medium-webfont.eot');
    src: url('../fonts/Roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}







/*PAGINATION*/
.back-btn {
  width: 99px;
  height: 38px;
  outline: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-width: 1px;
  border-color:  #e3e3e3;
  border-style: solid;
  background-color:  #ffffff;
  box-shadow: 1px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
  padding: 0;
  cursor: pointer;
}

.forward-btn {
  width: 99px;
  height: 38px;
  outline: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-width: 1px;
  border-color:  #e3e3e3;
  border-style: solid;
  background-color:  #ffffff;
  box-shadow: 1px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
  padding: 0;
  cursor: pointer;
}

.btn-n {
  border-width: 1px;
  border-color:  #e3e3e3;
  border-style: solid;
  background-color:  #ffffff;
  width: 38px;
  height: 38px;
  outline: none;
  box-shadow: 1px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
  padding: 0;
  cursor: pointer;
}

.pagination-page {
  font-family: 'Roboto';
  color:  #666666;
  font-size: 17px;
  font-weight: 300;
  padding: 0;
}

.pagination {
  display: none;
  margin-bottom: 104px;
}

.pagination.visible {
  display: flex;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a.active {
  background-color:  #88b04b;
  color:  #ffffff;
  box-shadow: none;
}

.pagination a.active .nav-btn-text{
  color:  #ffffff;
}

.pagination a:hover {
  background-color:  #88b04b;
  color:  #ffffff;
  box-shadow: none;
}

.pagination a:hover .nav-btn-text{
  color:  #ffffff;
}
/*PAGINATION END*/

/*МЕНЕ ЦІКАВЛЯТЬ ПОРОГИ*/
#contact-mail {
  height: 416px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/contact-mail-background.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  position: relative;
}

.caption-logo-white2 {
    margin: 58px 0 39px 0;
    display: flex;
    width: 100%;
    height: 66px;
    justify-content: center;
}

.logo-with-text-white2{
  position: relative;
  width: 278px;
  height: 66px;
}

.text-with-logo-white2 {
    position: absolute;
    font-family: 'Kalyna';
    font-size: 42px;
    font-weight: 400;
    top: 76px;
    color: #ffffff;
}

#contact-p {
    font-family: Roboto;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 48px 0 34px 0;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#email {
    border-radius: 5px;
    background-color:  rgba(250, 255, 253, 0.5);
    width: 360px;
    height: 38px;
    border: none;
}

input {
    padding-left: 16px;
    box-sizing: border-box;
}

input::placeholder {
    font-family: 'Roboto';
    color:  #666666;
    font-size: 16px;
    font-weight: 300;
    line-height: 100px;
    text-align: left;
}

input:focus{
  outline: none;
}

#subscribe-btn {
    margin-left: 30px;
    outline: none;
}
/*МЕНЕ ЦІКАВЛЯТЬ ПОРОГИ END*/


/*FOOTER*/
footer {
  height: 338px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #342e37;
  align-items: center;
  position: relative;
}

#footer-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 286px;
    width: 100%;
    margin: 60px;
}

#footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 100%;
    background-color:  #333333;
    align-self: flex-end;
    font-family: 'Roboto';
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.footer-h3 {
    font-family: 'Kalyna';
    color:  #fafffd;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 26px;
}

    footer a {
    font-family: 'Roboto';
    color:  #fafffd;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-decoration: none;
}

    footer a:hover {
    color: #88b04b;
    text-decoration: underline;
}

#contacts {
    width: 250px;
    margin-left: 57px;
    font-family: 'Roboto';
    color:  #fafffd;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
}

#contacts p {
    font-family: 'Roboto';
    color:  #fafffd;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
}

#footer-logo {
    margin-right: 96px;
}

#facebook {
    margin-left: 61px;
}

.bold {
    font-weight: 500;
}

.coordinators {
    width: 120px;
  display: inline-block;
}

.tel {
    width: 88px;
  display: inline-block;
}

.right1 {
    margin-left: 117px;
}

.right2 {
    margin-left: 83px;
}

#footer-h3-middle {
    margin-left: 87px;
}
/*FOOTER END*/